mat-form-field {
    width: 100%;
}

.report-reason-container {
    mat-radio-group {
        display: flex;
        flex-direction: column;
        margin-top: -8px;
        margin-bottom: -5px;
    }
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;

    button {
        margin-top: 7px;
        margin-right: 15px;
    }
}


.dialog-header.ar {
    text-align: right;
    direction: rtl;
}

.textarea.ar{
    text-align: right;
    direction: rtl;
}