@if (step() === 1) {
    <div class="dialog-header" [class.ar]="(language$ | async) === 'ar'">
        <h3 mat-dialog-title>{{ language.getWord('what_went_wrong') }}</h3>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <div class="feedback-reason-container" role="radiogroup">
            @for (reason of feedbackReasonList(); track reason) {
                <button
                    mat-stroked-button
                    [class.active]="feedbackReason() === reason"
                    (click)="feedbackReason.set(reason)"
                    [value]="reason"
                >
                    {{ language.getWord(reason) }}
                </button>
            }
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancel()">{{ language.getWord('cancel') }}</button>
        <button mat-button (click)="nextStep()" [disabled]="!feedbackReason()">
            {{ feedbackReason() === 'Other' ? language.getWord('next') : language.getWord('submit') }}
        </button>
    </mat-dialog-actions>
}

@if (step() === 2) {
    <div class="dialog-header" [class.ar]="(language$ | async) === 'ar'">
        <h3 mat-dialog-title>{{ language.getWord('what_is_the_problem') }}</h3>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <mat-form-field>
            <textarea
                class="textarea"
                [class.ar]="(language$ | async) === 'ar'" 
                matInput [(ngModel)]="feedbackText" [placeholder]="language.getWord('please_describe_the_issue')"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancel()">{{ language.getWord('cancel') }}</button>
        <button mat-button (click)="onSubmit()">{{ language.getWord('submit') }}</button>
    </mat-dialog-actions>
}
